<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcdl.model.mapper.MechanismMapper">
  <resultMap id="BaseResultMap" type="com.qcdl.model.entity.Mechanism">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="icp" jdbcType="VARCHAR" property="icp" />
    <result column="license" jdbcType="VARCHAR" property="license" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="website" jdbcType="VARCHAR" property="website" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
</mapper>